:root {
    --first-color: rgb(15, 15, 15); /* Definición de la variable para el color primario */
    --second-color: #5b78f6;
    --third-color: #121212;
    --fourth-color: #212121;
    --text-color: rgb(141, 141, 141); 
  }

body {
    background-color: var(--first-color);
    color: #fff;
    font-family: 'Lexend Deca', sans-serif;
}

html {
  scroll-behavior: smooth;
}