.about-container {
  width: 80%;
  margin: auto;
}

@media (max-width: 720px) {
  .about-container {
    width: 100%;
    margin: auto;
  }
}

.about-header {
  display: flex;
  margin-top: 80px;
  margin-bottom: 110px;
}

.about-me {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  margin: auto;
}

.about-header h2 {
  font-size: 65px;
  margin: 0;
  text-align: center;
}

@media (max-width: 720px) {
  .about-header h2 {
    font-size: 35px;
  }
}

.about-header .card-style-three {
  width: 90%;
  height: 170px;
  display: flex;
  text-align: justify;
  align-items: flex-end;
  padding: 25px;
  margin-top: 10px;
}

@media (max-width: 720px) {
  .about-header .card-style-three {
    width: 80%;
    margin: auto;
    font-size: 13px;
  }
}

.about-header .card-style-three i {
  color: var(--text-color);
  position: absolute;
  margin-bottom: 110px;
  margin-left: 10px;
  font-size: 40px;
}

.about-header .card-style-one {
  padding: 0;
  margin: 0;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 720px) {
  .about-header .card-style-one {
    display: none;
  }
}

.about-header img {
  margin: 0;
  border-radius: 30px;
  width: 270px;
  height: 270px;
}

/* ------------------------------- */

.about-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

@media (max-width: 720px) {
  .about-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: -40px;
  }
}

.card-languages {
  width: 45%;
}

@media (max-width: 720px) {
  .card-languages {
    width: 100%;
  }
}

.card-languages h4 {
  font-size: 25px;
}

@media (max-width: 720px) {
  .card-languages h4 {
    text-align: center;
    margin-bottom: 70px;
  }
}

.column-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column i {
  margin-bottom: 5px;
  font-size: 50px;
}

.about-info .card-style-three {
  width: 40%;
  height: 200px;
}

@media (max-width: 720px) {
  .about-info .card-style-three {
    width: 90%;
    margin: 50px auto;
    font-size: 13px;
    height: 180px;
  }
}

.about-info .card-style-three h1 {
  margin: 20px 0 20px 20px;
}

