.works-container {
  width: 90%;
  margin: auto;
}

.works-container h1 {
  font-size: 65px;
  text-align: center;
}

.all-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-container {
  text-align: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  background: linear-gradient(300deg, var(--third-color), var(--fourth-color));
  border: 1px solid #232323;
  border-radius: 30px;
  padding-bottom: 30px;
  box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: transform 0.2s;
}

.card-content:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card-content button {
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  background: var(--second-color);
  border: none;
  margin-bottom: 2px;
  width: 100%;
}

.card-content button a {
  color: white;
}

.card-content button:hover {
  background: #6883fa;
}